@using TuristickaAgencija.Models

<h2 style=" position:relative; left:340px;">Dodaj novi aranzman</h2>

@if (TempData["message"] != null)
{
<p style="text-align:center; font-family:Cambria; font-size:20px; font-weight:bold; font-style:italic;">@TempData["message"]</p>TempData["message"] = null;
}

<br /><br />
<form class="form-content" method="post" action="~/Menadzer/DodajAranzmanClick" enctype="multipart/form-data">
    <div style="position:relative; right:200px; height:300px;">
        <input style="height:40px; width:300px;" type="text" required name="naziv" placeholder="Naziv aranzmana"> <br /><br />
        <select name="tipAranzmana" style="height:35px; width:300px;" required>
            <option value="NocenjeSaDoruckom">Nocenje sa doruckom</option>
            <option value="PoluPansion">Polupansion</option>
            <option value="PunPansion">Pun pansion</option>
            <option value="AllInclusive">All inclusive</option>
            <option value="NajamApartmana">Najam apartmana</option>
        </select><br /><br />
        <select name="tipPrevoza" style="height:35px; width:300px;" required>
            <option value="Autobus">Autobus</option>
            <option value="Avion">Avion</option>
            <option value="Autobus+Avion">Autobus+Avion</option>
            <option value="Samostalno">Samostalno</option>
            <option value="Ostalo">Ostalo</option>
        </select><br /><br />
        <input style="height:40px; width:300px;" type="text" required name="mesto" placeholder="Mesto nalazenja(Adresa-GeoDuz-GeoSir)"><br /><br />
        <input style="height:40px; width:300px;" type="text" required name="vreme" placeholder="Vreme (hh:mm)" /><br /><br />
        <input style="height:40px; width:300px;" type="number" required name="putnici" placeholder="Maksimalan broj putnika" /><br /><br />
        <input style="height:40px; width:300px;" type="text" required name="datumPocetka" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="Datum pocetka putovanja"><br /><br />
        <input style="height:40px; width:300px;" type="text" required name="datumKraja" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="Datum kraja putovanja"><br /><br />
        <input style="height:40px; width:300px;" type="text" required name="lokacija" placeholder="Lokacija">
    </div>
    <div style="position:relative; left:100px; top:-305px; height:300px;">
        <textarea style="resize:none; height:260px; width:300px;" name="opis" placeholder="Opis putovanja"></textarea> <br /><br />
        <textarea style="resize:none; height:260px; width:300px;" name="program" placeholder="Program putovanja"></textarea> <br /><br />
        <input type="file" name="poster" accept="image/png, image/jpeg, image/jpg, image/jfif"/>
    </div>

    <input type="submit" value="Dalje" style=" height:30px;"/>
</form>