@using TuristickaAgencija.Models

<br />
<h2 style=" position:relative; left:400px;">Dodaj smestaj</h2>

@if (TempData["message"] != null)
{
    <p style="text-align:center; font-family:Cambria; font-size:20px; font-weight:bold; font-style:italic;">@TempData["message"]</p>TempData["message"] = null;
}

<br /><br />
<div style="position:relative; left:-50px;">
    <form class="form-content" method="post" action="~/Menadzer/DodajAranzmanSmestajClick">
        <input style="height:40px; width:230px;" type="text" required name="naziv" placeholder="Naziv smestaja"> <br /><br />
        <select name="tipSmestaja" style="height:35px; width:230px;" required>
            <option value="Hotel">Hotel</option>
            <option value="Motel">Motel</option>
            <option value="Vila">Vila</option>
        </select><br /><br />
        <input style="height:40px; width:230px;" type="number" required name="zvezdice" pattern="[1-5]{1}" placeholder="Broj zvezdica"> <br /><br />
        <input style="height:40px; width:230px;" type="text" name="bazen" placeholder="Bazen (DA/NE)" required /><br /><br />
        <input style="height:40px; width:230px;" type="text" name="spa" placeholder="Spa centar (DA/NE)" required /><br /><br />
        <input style="height:40px; width:230px;" type="text" name="invalidi" placeholder="Za osobe sa invaliditetom (DA/NE)" required /><br /><br />
        <input style="height:40px; width:230px;" type="text" name="wifi" placeholder="WiFi (DA/NE)" required /><br /><br />

        <input type="submit" value="Dalje" style=" height:30px;" />
    </form>
</div>